/* ! MOBILE 320 x 568-------------------------------------------------------------------------------
! -------------------------------------------------------------------------------
 !-------------------------------------------------------------------------------
*/
@media (max-width: 321px) {
   body {
		font-size: 10px;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		background-color:rgb(193, 208, 176);
		}

	.Accordion {
		max-width: 320px;
		margin: 10px;
	}

	.PopIt {
		border-top: 3px solid rgba(0, 0, 0, 0.2);
		color: black;
	}

	.popUp {
		display: block;
		font-size: 18;
		padding: 5px;
		margin: 5px;
		position: relative;
	}

	.popIn {
		appearance: none;
		position: absolute;
		width: 0;
		height: 0;
	}

	.mem {
		display: none;
		margin: auto;
	}

	.mem img {
		width: 150px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		animation-name: memTime;
		animation-duration: 1s;
	}

	h1.Accordion {
		font-size: 60px;
	}

	not(.popUp):hover {
	color: blue;
		}

	.popIn:checked ~ .popUp .mem {
	display: block;
	margin: 0 auto;
	transform: scaleZ(0.1);
	}

	/* чтобы оставались черным текстом уже развернутые*/
	.popIn:checked ~ .popUp {
		color: black;
	}


	@keyframes memTime {
		0%{
	width: 0;
		}
		100%{
	width: 150px;
		}
	}
}

/* ! TABLET 820 x 1180-------------------------------------------------------------------------------
! -------------------------------------------------------------------------------
 !-------------------------------------------------------------------------------
*/
@media (min-width: 321px) and (max-width: 819px) {
	body {
		font-size: 20px;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		background-color:rgb(193, 208, 176);
		}

	.Accordion {
		max-width: 800px;
		margin: 5px;
	}

	.PopIt {
		border-top: 3px solid rgba(0, 0, 0, 0.2);
		color: black;
	}

	.popUp {
		display: block;
		font-size: 20px;
		padding: 5px;
		margin: 5px;
		position: relative;
	}

	.popIn {
		appearance: none;
		position: absolute;
		width: 0;
		height: 0;
	}

	.mem {
		display: none;
		margin: auto;
	}

	.mem img {
		width: 200px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		animation-name: memTime;
		animation-duration: 1s;
	}

	h1.Accordion {
		font-size: 60px;
	}

	not(.popUp):hover {
	color: blue;
		}

	.popIn:checked ~ .popUp .mem {
		display: block;
	margin: 0 auto;
	transform: scaleZ(0.1);
	}

	/* чтобы оставались черным текстом уже развернутые*/
	.popIn:checked ~ .popUp {
		color: black;
	}


	@keyframes memTime {
		0%{
	width: 0;
		}
		100%{
	width: 300px;
		}
	}
}
/* ! DESKTOP 1920 x 1080--------------------------------------------------------------------------------
! -------------------------------------------------------------------------------
!-------------------------------------------------------------------------------
*/

@media (min-width: 819px) {

	a {
		text-decoration:none;
		color:blue
	 }

	body {
   font-size: 26px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color:rgb(193, 208, 176);
   }




.Accordion {
	max-width: 1600px;
	margin: 70px;
}

.PopIt {
	border-top: 3px solid rgba(0, 0, 0, 0.2);
	color: blue;
}

.popUp {
	display: block;
	font-size: 18;
	padding: 20px;
	margin: 10px;
	position: relative;
	cursor: pointer;
}

.popIn {
	appearance: none;
	position: absolute;
	width: 0;
	height: 0;
}

.mem {
	display: none;
	margin: auto;
	cursor: pointer;
}

.myspan {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.myspan img {
		width: 1rem;
		visibility: visible;
		transform: rotate(45deg);
		transition: 0.2s all;
	}

.popIn:checked + .popUp .myspan img {
		transform: rotate(0deg);
	}

.mem img {
	width: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	animation-name: memTime;
	animation-duration: 1s;
}



h1.Accordion {
	font-size: 60px;
}


.popIn:checked ~ .popUp .mem {
	display: block;
margin: 0 auto;
transform: scaleZ(0.1);
}

/* чтобы оставались черным текстом уже развернутые*/
.popIn:checked ~ .popUp {
	color: black;
}

/* делаю крестик при нажатии*/


@keyframes memTime {
	0%{
width: 0;
	}
	100%{
width: 300px;
	}
}
.Accordion:hover>.PopIt{
color: black;
}


}

/* ? Попробуй через flex или grid центрить */
